* {
	font-family: 'Nunito', sans-serif;
}

/*--- navbar ---*/
.navbar-link {
	color: rgb(24, 26, 24);
	display: inline-block;
	font-size: 22px;
	position: relative;
	text-decoration: none;
}

.navbar-link:hover {
	color: rgba(212, 163, 156);
}

.navbar-link:after {
	background-color: rgba(212, 163, 156);
	bottom: 0;
	content: '';
	height: 2px;
	left: 0;
	position: absolute;
	transform: scaleX(0);
	transform-origin: bottom center;
	transition: transform 0.25s ease-out;
	width: 100%;
}

.navbar-link:hover:after {
	transform: scaleX(1);
	transform-origin: bottom center;
}

/*--- Search box ---*/
.search-box {
	background: rgb(212, 163, 156);
	height: 40px;
	border-radius: 50px;
	padding: 10px;
}

.search-input {
	outline: none;
	border: none;
	background: none;
	width: 0;
	padding: 0;
	color: #fff;
	float: left;
	font-size: 16px;
	transition: 0.3s;
}

.search-input::placeholder {
	color: #ebd4c0;
}

.search-btn {
	color: rgb(212, 163, 156);
	float: right;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	background: rgb(212, 163, 156);
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	transition: 0.3s;
}

.search-input:focus,
.search-input:not(:placeholder-shown) {
	width: 180px;
	padding: 0 6px;
}

.search-box:hover > .search-input {
	width: 180px;
	padding: 0 6px;
}

.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
	background: rgb(212, 163, 156);
	color: rgb(212, 163, 156);
}

/*--- carousel ---*/
.carousel .carousel-indicators button {
	border-radius: 100%;
	height: 7px;
	width: 7px;
}

/*--- movie cards ---*/
.card {
	width: 16rem;
	border-radius: 1em;
	position: relative;
	display: flex;
	align-items: flex-start;
	justify-content: end;
	transition: 0.4s ease-out;
	box-shadow: 0px 7px 20px rgba(43, 8, 37, 0.2);
	margin: 10px;
	font-weight: 500;
}

.card:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	z-index: 2;
	transition: 0.5s;
}

.card-info {
	position: absolute;
	z-index: 3;
	color: rgb(255, 255, 255);
	opacity: 0;
	transform: translateY(20%);
	transition: 0.5s;
	padding: 0px 25px;
	width: 100%;
	display: block;
}

.card-title {
	font-size: 1.2rem;
}

.card-button {
	width: 100%;
	display: block;
	padding: 0.5rem;
	margin-bottom: 25px;
	outline: none;
	border: none;
	border-radius: 4px;
	background: rgba(23, 26, 23, 0.8);
	color: rgb(255, 255, 255);
	transition: 0.4s ease;
}

.card:hover {
	transform: translateY(2%);
}

.card:hover:before {
	opacity: 1;
	background-color: rgba(24, 26, 24, 0.25);
	border-radius: 4px;
}

.card:hover .card-info {
	opacity: 1;
	transform: translateY(0);
}

.card-button:hover {
	background: rgb(212, 163, 156);
	color: rgb(255, 255, 255);
}

@media only screen and (max-width: 425px) {
	.card {
		width: 22rem;
	}
}

}

}

}

}

}

}
