@import './variables';

@mixin button {
	background: rgba(23, 26, 23, 0.8);
	border: none;
	color: #fff;
	font-family: 'Jost', sans-serif;
	font-weight: 600;
	padding: 0.5rem;
	transition: 0.4s;
	&:hover {
		background: $primary-color;
	}
}

/*=============== UNIVERSAL ===============*/
html {
	scroll-behavior: smooth;
}

* {
	/*=============== Scrollbar ===============*/
	scrollbar-width: auto;
	font-family: 'Nunito', sans-serif;
	scrollbar-color: $primary-color #fff;
}

*::-webkit-scrollbar {
	width: 6px;
}

*::-webkit-scrollbar-track {
	background: #fff;
}

*::-webkit-scrollbar-thumb {
	background-color: $primary-color;
	border: 0px solid #fff;
	border-radius: 0px;
}

::selection {
	background: rgba(97, 155, 151, 0.7);
}

/*=============== Text ===============*/
h1,
h2 {
	font-family: 'Jost', sans-serif;
	font-variant: small-caps;
	font-weight: 600;
}

/*=============== Navbar ===============*/
nav {
	background-color: #fff;
	box-shadow: $box-shadow;
}

.nav__link {
	color: rgb(24, 26, 24);
	display: inline-block;
	font-size: 1.3rem;
	position: relative;
	text-decoration: none;

	&:hover {
		color: $primary-color;
	}

	&:after {
		background-color: $primary-color;
		bottom: 0;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
		transform: scaleX(0);
		transform-origin: bottom center;
		transition: transform 0.25s ease-out;
		width: 100%;
	}

	&:hover:after {
		transform: scaleX(1);
		transform-origin: bottom center;
	}
}

/* Search box */
.search-box {
	background: $primary-color;
	border-radius: 50px;
	height: 40px;
	padding: 10px;

	&__btn {
		align-items: center;
		border-radius: $border-radius-round;
		display: flex;
		height: 20px;
		width: 20px;
	}

	&__input {
		background: none;
		border: none;
		color: #fff;
		float: left;
		outline: none;
		padding: 0;
		transition: 0.3s;
		width: 0;

		&::placeholder {
			color: rgba(255, 255, 255, 0.6);
		}
	}
}

.search-box__input:focus,
.search-box__input:not(:placeholder-shown),
.search-box:hover > .search-box__input {
	padding: 0 6px;
	width: 180px;
}

/*=============== Footer ===============*/
footer {
	.icon-tabler {
		transition: 0.3s;

		&:hover {
			stroke: $primary-color;
		}
	}
}

/*=============== Scroll to top btn ===============*/
.btn__top {
	background-color: $primary-color;
	border: none;
	border-radius: $border-radius-round;
	bottom: 22px;
	padding: 1px;
	position: fixed;
	right: 22px;
}

/*=============== HOME ===============*/

/*=============== Carousel ===============*/
.carousel {
	box-shadow: $box-shadow;

	& .carousel-indicators button {
		border-radius: $border-radius-round;
		height: 7px;
		width: 7px;
	}
}

/*=============== Movie cards ===============*/
.card {
	align-items: flex-start;
	box-shadow: $box-shadow;
	display: flex;
	font-weight: 500;
	justify-content: end;
	margin: 10px;
	transition: 0.4s;
	width: 16rem;

	&:hover {
		transform: translateY(2%);

		& .card__info {
			opacity: 1;
			transform: translateY(0);
		}
	}

	&:before {
		content: '';
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		transition: 0.5s;
		width: 100%;
		z-index: 2;
		border-radius: 6px;
	}

	&:hover:before {
		background-color: rgba(24, 26, 24, 0.35);
	}

	&__info {
		color: #fff;
		display: block;
		opacity: 0;
		padding: 0px 25px;
		position: absolute;
		transform: translateY(20%);
		transition: 0.5s;
		width: 100%;
		z-index: 3;
	}

	&__title {
		font-size: 1.2rem;
	}

	&__button {
		@include button;
		margin-bottom: 25px;
		display: inline-block;
		width: 100%;
		&--sm {
			@include button;
			margin-bottom: 25px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.card {
		width: 18rem;
	}
}

@media only screen and (max-width: 425px) {
	.card {
		width: 22rem;
	}
}

.is-hidden {
	display: none;
}

/*=============== Modal ===============*/
.modal {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	&-content {
		background: rgba(255, 255, 255, 0.75);
		box-shadow: 0 8px 32px 0 rgba(24, 26, 24, 0.3);
		backdrop-filter: blur(3px);
		-webkit-backdrop-filter: blur(3px);
	}

	&__button {
		@include button;
	}
}

.dropdown {
	&-menu {
		min-width: inherit;
	}

	&-item {
		&:hover,
		&:focus {
			background: $primary-color;
			color: rgb(255, 255, 255);
		}
	}
}

.btn-close:focus {
	box-shadow: none;
}

#modal {
	&Kiki {
		background-image: url('../img/home/modal/modal-kiki.jpg');
	}
	&SpiritedAway {
		background-image: url('../img/home/modal/modal-spiritedaway.jpg');
	}
	&Howl {
		background-image: url('../img/home/modal/modal-howl.jpg');
	}
	&Totoro {
		background-image: url('../img/home/modal/modal-totoro.jpg');
	}
	&TheWindRises {
		background-image: url('../img/home/modal/modal-thewindrises.jpg');
	}
	&Mononoke {
		background-image: url('../img/home/modal/modal-mononoke.jpg');
	}
	&Marnie {
		background-image: url('../img/home/modal/modal-marnie.jpg');
	}
	&Kaguya {
		background-image: url('../img/home/modal/modal-kaguya.jpg');
	}
	&Arrietty {
		background-image: url('../img/home/modal/modal-arrietty.jpg');
	}
	&Ponyo {
		background-image: url('../img/home/modal/modal-ponyo.jpg');
	}
	&GraveFireflies {
		background-image: url('../img/home/modal/modal-gravefireflies.jpg');
	}
	&TalesFromEarthsea {
		background-image: url('../img/home/modal/modal-talesfromearthsea.jpg');
	}
	&Whisper {
		background-image: url('../img/home/modal/modal-whisper.jpg');
	}
	&Porco {
		background-image: url('../img/home/modal/modal-porco.jpg');
	}
	&OnlyYesterday {
		background-image: url('../img/home/modal/modal-onlyyesterday.jpg');
	}
	&PoppyHill {
		background-image: url('../img/home/modal/modal-poppyhill.jpg');
	}
	&CastleSky {
		background-image: url('../img/home/modal/modal-castlesky.jpg');
	}
	&Nausicaa {
		background-image: url('../img/home/modal/modal-nausicaa.jpg');
	}
	&OceanWaves {
		background-image: url('../img/home/modal/modal-oceanwaves.jpg');
	}
	&TheCatReturns {
		background-image: url('../img/home/modal/modal-thecatreturns.jpg');
	}
	&PomPoko {
		background-image: url('../img/home/modal/modal-pompoko.jpg');
	}
	&NeighborsYamadas {
		background-image: url('../img/home/modal/modal-neighborsyamadas.jpg');
	}
	&Earwig {
		background-image: url('../img/home/modal/modal-earwig.jpg');
	}
}

@media (max-width: 425px) {
	#modal {
		&Kiki {
			background-image: url('../img/home/modal/modal-kiki-mobile.jpg');
		}
		&SpiritedAway {
			background-image: url('../img/home/modal/modal-spiritedaway-mobile.jpg');
		}
		&Howl {
			background-image: url('../img/home/modal/modal-howl-mobile.jpg');
		}
		&Totoro {
			background-image: url('../img/home/modal/modal-totoro-mobile.jpg');
		}
		&TheWindRises {
			background-image: url('../img/home/modal/modal-thewindrises-mobile.jpg');
		}
		&Mononoke {
			background-image: url('../img/home/modal/modal-mononoke-mobile.jpg');
		}
		&Marnie {
			background-image: url('../img/home/modal/modal-marnie-mobile.jpg');
		}
		&Kaguya {
			background-image: url('../img/home/modal/modal-kaguya-mobile.jpg');
		}
		&Arrietty {
			background-image: url('../img/home/modal/modal-arrietty-mobile.jpg');
		}
		&Ponyo {
			background-image: url('../img/home/modal/modal-ponyo-mobile.jpg');
		}
		&GraveFireflies {
			background-image: url('../img/home/modal/modal-gravefireflies-mobile.jpg');
		}
		&TalesFromEarthsea {
			background-image: url('../img/home/modal/modal-talesfromearthsea-mobile.jpg');
		}
		&Whisper {
			background-image: url('../img/home/modal/modal-whisper-mobile.jpg');
		}
		&Porco {
			background-image: url('../img/home/modal/modal-porco-mobile.jpg');
		}
		&OnlyYesterday {
			background-image: url('../img/home/modal/modal-onlyyesterday-mobile.jpg');
		}
		&PoppyHill {
			background-image: url('../img/home/modal/modal-poppyhill-mobile.jpg');
		}
		&CastleSky {
			background-image: url('../img/home/modal/modal-castlesky-mobile.jpg');
		}
		&Nausicaa {
			background-image: url('../img/home/modal/modal-nausicaa-mobile.jpg');
		}
		&OceanWaves {
			background-image: url('../img/home/modal/modal-oceanwaves-mobile.jpg');
		}
		&TheCatReturns {
			background-image: url('../img/home/modal/modal-thecatreturns-mobile.jpg');
		}
		&PomPoko {
			background-image: url('../img/home/modal/modal-pompoko-mobile.jpg');
		}
		&NeighborsYamadas {
			background-image: url('../img/home/modal/modal-neighborsyamadas-mobile.jpg');
		}
		&Earwig {
			background-image: url('../img/home/modal/modal-earwig-mobile.jpg');
		}
	}
}

/*=============== ABOUT ===============*/
.header-img {
	box-shadow: $box-shadow;
	color: #fff;
	position: relative;
	text-align: center;

	&__text {
		bottom: 8px;
		position: absolute;
	}
}

.quote {
	border-left: 2px solid rgb(24, 26, 24);
	font-style: italic;
}

/*=============== CONTACT ===============*/
.contact {
	&__input:focus,
	&__input:focus {
		box-shadow: none;
		border-color: $primary-color;
	}
	&__button {
		@include button;
		width: 100%;
	}
	.icon-tabler {
		transition: 0.3s;
		border: 2px solid #212529;

		&:hover {
			stroke: $primary-color;
			border: 2px solid $primary-color;
		}
	}
}
